body {
    direction: rtl;
}



.shape1 {
  left: auto;
  right: 30px;
}

.shape2 {
  left: auto;
  right: 15%;
}

.shape3 {
  left: auto;
  right: 25%;
}

.shape4 {
  right: auto;
  left: 25%;
}

.shape5 {
  right: auto;
  left: 5%;
}

.shape6 {
  right: auto;
  left: 10%;
}

.shape7 {
  left: auto;
  right: 25%;
}

.shape8 {
  right: auto;
  left: 10%;
}
blockquote cite {
  padding-left: auto;
  padding-right: 17px;
}
blockquote cite::before {
  left: auto;
  right: 0;
}
.comments-area .children {
  margin-left: auto;
  margin-right: 65px;
}





.uxhaven-nav nav .others-options {
    margin: 0 10px 0 0px;
}
.navbar-brand {
    margin-right: 0;
}
.uxhaven-nav nav .navbar-nav {
    margin-right: auto;
    margin-left: 0;
}
.main-banner-content {
    text-align: right;
    max-width: 530px;
}
.main-banner-content .btn-primary {
    margin-left: 15px;
    margin-right: 0;
}
.uxhaven-nav nav .navbar-nav .nav-item .dropdown-menu {
    right: 0;
    left: auto;
    text-align: right;
    width: 200px;
}
.uxhaven-nav nav .navbar-nav .nav-item a::before {
    right: 1px;
    left: auto;
}
.featured-services-area .featured-services-box {
    text-align: right;
}
.read-more-btn::before {
    right: 0;
    left: auto;
}
.tab_content {
    text-align: right;
}
.single-case-studies .btn {
    right: 25px;
    left: auto;
}
.quotes-content p::before {
    right: -150px;
    left: auto;
}
.services-slides.owl-theme .owl-nav {
    right: -89.4px;
    left: auto;
}
.services-inner .services-section-title {
    padding-left: 50px;
    padding-right: 0;
    margin-right: auto;
    margin-left: 0;
    text-align: right;
}
.single-team .team-content {
    text-align: right;
}
.newsletter form .btn {
    left: 7px;
    right: auto;
}
.blog-item-box .blog-item .row {
    text-align: right;
}
.blog-item-box .blog-item .post-content .post-meta li i {
    right: 0;
    left: auto;
    margin-left: 4px;
    margin-right: 0;
}
.blog-item-box .blog-item .post-content .post-meta li::before {
    left: -10px;
    right: auto;
}
.single-blog-post .post-content {
    text-align: right;
}
.cta-content {
    text-align: right;
}
.cta-btn-box {
    text-align: left;
}
.single-footer-widget {
    text-align: right;
}
.single-footer-widget h3::before {
    right: 0;
    left: auto;
}
.single-footer-widget h3::after {
    right: 35px;
    left: auto;
}
.single-footer-widget ul.list li a:hover, .single-footer-widget ul.list li a:focus {
    padding-right: 15px;
    padding-left: 0;
}
.single-footer-widget ul.list li a::before {
    right: 0;
    left: auto;
}
.single-footer-widget ul.get-in-touch li {
    padding-right: 45px;
    padding-left: 0;
}
.single-footer-widget ul.get-in-touch li i {
    right: 0;
    left: auto;
}
.contact-cta-box {
    padding: 30px 30px 30px 210px;
    text-align: right;
}
.contact-cta-box .btn {
    left: 30px;
    right: auto;
}
.single-blog-item .blog-post-content {
    text-align: right;
}
.single-blog-item .blog-image .post-tag {
    right: 0;
    left: auto;
}
.offset-lg-2 {
    margin-right: 16.666667%;
    margin-left: 0;
}
.offset-lg-1 {
    margin-right: 8.333333%;
    margin-left: 0;
}
.case-studies-information {
    text-align: right;
}
.case-studies-desc {
    text-align: right;
}
.featured-services-box {
    text-align: right;
}
.services-details-info {
    text-align: right;
}
.services-details-info ul li {
    padding-right: 20px;
    padding-left: 0;
}
.services-details-info ul li::before {
    right: 0;
    left: auto;
}
.services-details-desc {
    text-align: right;
}
.about-content {
    text-align: right;
}
.about-content .section-title {
    text-align: right;
}
.about-text {
    text-align: right;
}
.portfolio-information {
    text-align: right;
}
.portfolio-desc {
    text-align: right;
}
.faq-accordion {
    text-align: right;
}
.faq-accordion .accordion .accordion-item .accordion-title i {
    left: 15px;
    right: auto;
}
.error-content .search-form .search-submit {
    left: 0;
    right: auto;
}
.error-content .search-form .search-field {
    padding-right: 15px;
    padding-left: 0;
}
section.contact-area {
    text-align: right;
}
.contact-sidebar .contact-item {
    padding-right: 52px;
    padding-left: 0;
}
.contact-sidebar .contact-item .icon {
    right: 0;
    left: auto;
}
.contact-area .section-title {
    text-align: right;
}
.contact-with-map .contact-form {
    left: 30px;
    right: auto;
}
.widget-area .widget_search form .search-submit {
    left: 0;
    right: auto;
}
.widget-area .widget {
    text-align: right;
}
.widget-area .widget ul li {
    padding-right: 18px;
    padding-left: 0;
}
.widget-area .widget ul li::before {
    right: 0;
    left: auto;
}
.blog-details .article-content {
    text-align: right;
}
.blog-details .article-content .entry-meta li {
    margin-left: 15px;
    margin-right: 0;
}
blockquote {
    padding: 30px 70px 30px 30px !important;
}
blockquote::before {
    right: 30px !important;
    left: auto !important;
}
.comments-area .comments-title {
    text-align: right;
}
.comments-area .comment-respond {
    text-align: right;
}
.comments-area .comment-respond .comment-form-cookies-consent {
    padding-right: 20px;
    padding-left: 0;
}
.comments-area .comment-respond .comment-form-cookies-consent input {
    right: 0;
    left: auto;
}
.comments-area .comment-body {
    margin-right: 65px;
    margin-left: 0;
    text-align: right;
}
.comments-area .comment-author .avatar {
    right: -65px;
    left: auto;
}
.uxhaven-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    right: 180px;
    left: auto;
}
.read-more-btn:hover::before, .read-more-btn:focus::before {
    right: 40px;
    left: auto;
}
.single-case-studies .content {
    right: 0;
    left: auto;
}
.services-list {
    padding-left: 70px;
    padding-right: 0;
}
.banner-form {
    text-align: right;
}
.uxhaven-nav.navbar-style-four nav .navbar-nav {
    margin-right: auto;
    margin-left: 0;
}

.blog-item-box .blog-item .post-content .post-meta li {
    margin-right: 0;
    margin-left: 18px;
    padding-left: 0;
    padding-right: 20px;
}
.blog-item-box .blog-item .post-content .post-meta li:first-child {
    padding-left: 0;
    padding-right: 25px;
}
.blog-item-box .blog-item .post-content .post-meta li:last-child {
    margin-left: 0;
}
.blog-item-box .blog-item .post-content .post-meta li i {
    margin-right: 0;
    margin-left: 4px;
    left: auto;
    right: 0;
}
.single-blog-post .post-content .post-meta li {
    margin-right: 0;
    margin-left: 18px;
    padding-left: 0;
    padding-right: 20px;
}
.single-blog-post .post-content .post-meta li:first-child {
    padding-left: 0;
    padding-right: 25px;
}
.single-blog-post .post-content .post-meta li:last-child {
    margin-left: 0;
}
.single-blog-post .post-content .post-meta li i {
    margin-right: 0;
    margin-left: 4px;
    left: auto;
    right: 0;
}
.single-blog-post .post-content .post-meta li::before {
    left: -10px;
    right: auto;
}
.tab .tabs li:first-child {
    margin-right: 0;
    margin-left: 20px;
}
.tab .tabs li:last-child {
    margin-left: 0;
    margin-right: 20px;
}
.rev_slider_wrapper, .rev_slider_wrapper * {
    direction:ltr;
}
blockquote::before {
    left: 30px;
    right: auto;
}
.go-top {
    left: 20px;
    right: auto;
}
.work-process-list .single-work-process:nth-child(1) {
    right: 10%;
    left: auto;
}
.work-process-list .single-work-process:nth-child(2) {
    right: auto;
    left: 10%;
}
.work-process-list .single-work-process:nth-child(6) {
    right: 0;
    left: auto;
}
.work-process-list .single-work-process:nth-child(3) {
    left: 0;
    right: auto;
}
.work-process-list .single-work-process:nth-child(5) {
    right: 10%;
    left: auto;
}
.work-process-list .single-work-process:nth-child(4) {
    right: auto;
    left: 10%;
}
.slider-area ul li .tp-caption.NotGeneric-SubTitle, .slider-area ul li .NotGeneric-SubTitle {
    text-align: center !important;
}
.slider-area ul li .tp-caption.NotGeneric-Title, .slider-area ul li .NotGeneric-Title {
    text-align: center !important;
}

.uxhaven-nav.navbar-style-two nav .navbar-nav {
    margin-right: 150px;
    margin-left: 0;
}
/**************cart style**********/
.others-options{
  position: relative;
}
.others-options .cart{
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  padding: 4px 7px 4px 5px !important;
  margin-right: 13px;
}
.others-options .cart::before{
  width:100% !important;
}
.others-options .cart:hover::before,.others-options .cart::before{
  background: #fff !important;
}
.others-options .cart img{
  width: 22px;
  margin-left: 4px;
}
.others-options .cart .counter{
  position: relative;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}
.others-options .cart .counter::before{
  content: " ";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ff005d;
  right: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}
.others-options .cart-box{
  position: absolute;
  left: 0;
  top: 40px;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  display: none;
}
.others-options .cart-box p{
  margin-bottom: 5px;
  color: #333;
}
.others-options .cart-box p.subject{
  text-align: right;
  font-size: 12px;
}
.others-options .cart-box p.price{
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
.others-options .cart-box a{
  display: block;
  padding: 10px 0;
  text-align: center;
  background: #ff005d;
  color: #fff;
  border-radius: 10px;
}
.others-options .cart-box a svg{
  margin-right: 10px
}
.cart-mobile{
  display: none;
}
/*overlay styles*/
.overlay{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
  display: none;
}
/*New food feuture : Show details food*/
.food-area .new-service-box .new-details{
  position: fixed;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  right: 0;
  left: 0;
  top: 50px;
  bottom: 0;
  margin: auto;
  max-width: 48%;
  max-height: 320px;
  z-index: 999999;
  display: none;
}
.food-area .new-service-box .new-details .tt{
  text-align: right;
  font-size: 1.1em;
  color: #333;
  margin-bottom: 15px;
  position: relative;
}
.food-area .new-service-box .new-details .tt i{
  position: absolute;
  left: 0;
  top: 1px;
  font-size: 18px;
  cursor: pointer;
}
.food-area .new-service-box .new-details .owl-nav{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 41px;
  color: #ffffff;
}
.food-area .new-service-box .new-details .slider-details{
  overflow: hidden;
}
.food-area .new-service-box .new-details .cc{
  padding-bottom: 15px;
  border-bottom: 2px solid #eee;
}
.food-area .new-service-box .new-details .cc .content-details p.include{
  font-size: 12px;
  text-align: justify;
  line-height: 2;
}
.food-area .new-service-box .new-details .cc .content-details .info-food{
  display: grid;
  grid-template-columns: auto auto;
}
.food-area .new-service-box .new-details .cc .content-details .info-food p{
  margin-bottom: 0;
  font-size: 13px;
}
.food-area .new-service-box .new-details .cc .content-details .info-food p .value{
  color:#ff005d;
}
.food-area .new-service-box .new-details .action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}
.food-area .new-service-box .new-details .action .price{
  max-width: 50%;
}
.food-area .new-service-box .new-details .action .price p{
  padding-right: 15px;
  font-weight: bold;
  color: #333;
}
.food-area .new-service-box .new-details .action .form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
}
.food-area .new-service-box .new-details .action .form .quant{
  position: relative;
  width: 47%;
}
.food-area .new-service-box .new-details .action .form .quant label{
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  right: 10px;
  font-weight: normal;
  color: #636363;
}
.food-area .new-service-box .new-details .action .form .quant input{
  width: 100%;
  border: 1px solid #eee;
  color: #ff005d;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  outline: 0;
  padding: 6px 47px 6px 0;
  border-radius: 5px;
}
.food-area .new-service-box .new-details .action .form input[type=submit]{
  width: 47%;
  background: #ff005d;
  border: 0;
  color: #fff;
  font-size: 13px;
  padding: 8px 21px;
  border-radius: 5px;
}
/* Form hamkary styles*/
.form1-area{
  background: url('../img/form1-bg.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
}
.main-form{
  border:1px dashed #636363;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 160px;
  background: rgba(255,255,255,0.7);
}
.main-form .item-form label{
  display: block;
  margin-bottom: 5px;
  color:#494949;
  font-weight: normal;
  font-size: 14px;
}
.main-form .item-form label span{
  color: #636363;
  font-size: 12px;
}
.main-form .item-form input[type=text],.main-form .item-form input[type=tel],.main-form .item-form select,.main-form textarea,.main-form .flex .left input{
  background: rgba(245,245,245,0.8);
  border:none;
  border-radius: 3px;
  padding: 5px;
  font-size: 13px;
  width: 100%;
  outline: 0;
  color: #636363;
  resize: none;
}
.main-form .item-form input[type=submit]{
  color: #fff;
  border: none;
  border-radius: 3px;
  background: #ff005d;
  padding: 3px 30px;
  outline: 0;
}
.main-image{
  margin-top: 30px;
  position: relative;
}
.main-image::before{
  content:" ";
  width: 40px;
  height: 30px;
  left: -18px;
  top: -16px;
  background: rgba(29,107,202,0.8);
  border-radius: 7px;
  position: absolute;
}
.main-image::after{
  content:" ";
  width: 65px;
  height: 80px;
  left: -35px;
  bottom: -16px;
  background: rgba(91,219,138,0.8);
  border-radius: 7px;
  position: absolute;
}
.main-image img{
  border-radius: 0;
  max-height: 452px;
  width: 100%;
}
.main-form .flex{
  display: flex;
  justify-content: space-between;
}
.main-form .flex .right{
  width: 48%;
}
.main-form .flex .left{
  width: 47%;
}
.main-image.form2-img img{
  height: auto;
  max-height: none;
}
.form2-img::before{
  display: none;
}
.form2-img::after{
  left:20px;
  bottom:-30px;
  background: rgba(256,156,103,0.8);
}
.form2-area{
  background: url('../img/form2-bg.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 44%;
}
/*Edit index style*/
.featured-services-box p{
  max-height: 125px;
  min-height: 125px;
  text-overflow: ellipsis;
}
.ULTabs{
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.ULTabs li{
  display: inline-block;
  margin: 0;
}
.ULTabs li a{
  color: #646464;
  display: block;
  text-align: center;
  float: none;
  font-size: 18px;
}
.ULTabs li a img{
  display: block;
  margin: 0 auto;
}
.ULTabs li::after{
  content: "";
  clear: both;
  display: block;
  margin: 0 auto;
}
.tabs_item .count-ss{
  width: 100%;
  float: right;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 7px;
  margin-top: 10px;
}
.MHomeTabs .tab_content .tab_contentIn form .btn-primary-Green{
  float: left;
}
.featured-services-box .blog-image img{
  max-height: 220px;
  max-width: 350px;
}
/* RTL responsive css*/
@media only screen and (max-width: 767px) {
    .mean-container a.meanmenu-reveal {
        left: 15px !important;
        right: auto !important;
    }
    .uxhaven-mobile-nav .logo {
        right: 15px !important;
        left: auto !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        padding: 0px !important;
    }
    .featured-services-box .back-text {
        font-size: 130px;
    }
    .quotes-content p::before {
        right: 0;
        left: auto;
    }
    .services-list {
        padding-left: 0 !important;
    }
    .quotes-content p::before {
        width: 80px;
        height: 58px;
    }
    .offset-lg-1 {
        margin-right: 0 !important;
    }
    .comments-area .comment-author .avatar {
        right: 0 !important;
        left: auto;
    }
    .comments-area .comment-body {
        margin-right: 0 !important;
    }
    .slider-area {
        overflow: hidden;
    }
    .slider-area ul li .tp-caption.NotGeneric-SubTitle, .slider-area ul li .NotGeneric-SubTitle {
        text-align: center !important;
        position: relative !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        width: 80% !important;
        right: 10px !important;
        top: 10px;
    }
    .go-top {
        left: 15px !important;
        right: auto !important;
    }
    .services-slides.owl-theme .owl-nav {
        left: 0 !important;
        right: 0 !important;
    }
    .work-process-list .single-work-process:nth-child(2) {
        right: auto !important;
        left: 15px !important;
    }
    .work-process-list .single-work-process:nth-child(1) {
        right: 15px !important;
        left: auto !important;
    }
    .work-process-list .single-work-process:nth-child(5) {
        right: 0 !important;
        left: auto !important;
    }
    .work-process-list .single-work-process:nth-child(5) {
        right: auto !important;
        left: 0 !important;
    }
    .blog-details blockquote {
        padding: 20px 55px 20px 20px !important;
    }
    .cart-mobile{
      position: absolute;
      left: -65px;
      top: 14px;
      width: 40px;
      display: block;
      height: 40px;
      background: #ff005d;
      border-radius: 50%;
      padding: 9px;
    }
    .food-area .new-service-box .new-details{
      max-width: 98%;
      max-height: min-content;
    }
    .food-area .new-service-box .new-details .action .form{
      max-width: 73%;
    }
    .main-form{
      margin-bottom: 20px;
    }
    .form1-area{
      margin-top: 40px;
    }
    .form2-area{
      padding-bottom: 40px;
      margin-top: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mean-container a.meanmenu-reveal {
        left: 15px !important;
        right: auto !important;
    }
    .uxhaven-mobile-nav .logo {
        right: 15px !important;
        left: auto !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        padding: 0px !important;
    }
    .quotes-content p::before {
        right: 0;
        left: auto;
    }
    .services-list {
        padding-left: 0 !important;
    }
    .services-inner .services-section-title h2 {
        text-align: right !important;
    }
    .services-inner .services-section-title p {
        text-align: right !important;
    }
    .offset-lg-1 {
        margin-right: 0 !important;
    }
    .banner-form {
        margin-top: 40px;
    }
    .quotes-content p::before {
        width: 100px;
        height: 80px;
    }
    .slider-area ul li .tp-caption.NotGeneric-btn .btn, .slider-area ul li .NotGeneric-btn .btn {
        margin-top: 60px !important;
    }
    .slider-area ul li .tp-caption.NotGeneric-SubTitle, .slider-area ul li .NotGeneric-SubTitle {
        text-align: center !important;
        margin-top: 20px !important;
    }
    .slider-area {
        overflow: hidden;
    }
    .offset-lg-2 {
        margin-right: 0 !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        width: 80% !important;
        right: 10px !important;
        top: 10px;
    }
    .main-banner-content {
        text-align: center;
        margin: auto;
    }
    .services-slides.owl-theme .owl-nav {
        left: 0 !important;
        right: 0 !important;
    }
    .work-process-list .single-work-process:nth-child(2) {
        left: auto;
    }
    .work-process-list .single-work-process:nth-child(1) {
        right: auto;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .services-list {
        padding-right: 0 !important;
    }
    .slider-area {
        overflow: hidden;
    }
    .slider-area ul li .tp-caption.NotGeneric-SubTitle, .slider-area ul li .NotGeneric-SubTitle {
        text-align: center !important;
    }
}

@media only screen and (min-width: 1400px) {


}
/*# sourceMappingURL=responsive.css.map */
